<div class="px-5 py-3">
  <h2>Edit expense #<%=@expense.id%></h2>
  <br>
  <h4>Total amount: ¥<%= @expense.total_amount_yen %></h4>
  <%= simple_form_for(@expense) do |f| %>
    <table class='table table-striped'
      data-controller="edit-tax-rates">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Total Amount</th>
          <th scope="col"
            data-edit-tax-rates-target="ctax10"
            data-action="click->edit-tax-rates#send"
            >
            <%= f.input :ctax10, as: :boolean %>
          </th>
          <th scope="col"
            data-edit-tax-rates-target="ctax8"
            data-action="click->edit-tax-rates#send"
          >
            <%= f.input :ctax8, as: :boolean %>
          </th>
          <th scope="col"
            data-edit-tax-rates-target="ctax0"
            data-action="click->edit-tax-rates#send"
          >
            <%= f.input :ctax0, as: :boolean %>
          </th>
          <th scope="col">Total tax</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= @expense.id %></th>
          <td><%=f.input :expense_type, label: false %></td>
          <td>¥<%=@expense.total_amount_yen %></td>
          <td class='d-flex'>
            ¥
            <div data-edit-tax-rates-target="afterTax10">
              <%=f.input :after_tax_10, label: false %>
            </div>
          </td>
          <td>¥<%=@expense.total_amount_yen - @expense.after_tax_10 - @expense.after_tax_0 %></td>
          <td class='d-flex'>
            ¥
            <%=f.input :after_tax_0, label: false %>
          </td>
          <td>¥<%=(@expense.after_tax_10)/11 + (@expense.total_amount_yen - @expense.after_tax_10 - @expense.after_tax_0)/108*8 %></td>
          <td><%= @expense.approved ? 'Approved' : 'Submitted' %></td>
          <td><%= link_to edit_expense_path(@expense) do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= f.submit  %>
  <% end %>
</div>
